
<div class"container">
    <div class="row">
        <div class="col-6">
        <h1>Contact</h1>
        <h2>Vous pouvez nous contacter par mail, par téléphone ou via le formulaire ></h2>
        <p>Tél. : 01 XX XX XX XX</p>
        <p>contact@friendsheep.fr</p>
        <p>Lundi./Ven. 9h00 - 12h00 et 14h00 - 18h00
        <p>Tous les champs précédés d'un astérisque(*) sont obligatoires.
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Nom*" aria-label="Last name">
            </div>
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Prénom" aria-label="First name">
            </div>
            <div class="col-12">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Adresse Mail*">
            </div>
            <div class="col-12">
                <input id="telNo" name="telNo" type="tel" placeholder="Téléphone*">
            </div>
            <div class="col-12">
                <input type="text" class="form-control" id="inputAddress" placeholder="Adresse*">
            </div>
            <div class="col-12">
                <input type="text" class="form-control" id="inputCity" placeholder="Ville*">
            </div>
            <div class="col-12">
                <textarea class="form-control" placeholder="Objet" id="floatingTextarea"></textarea>
            </div>
            <div class="col-12">
                <textarea class="form-control" placeholder="Message" id="floatingTextarea2" style="height: 100px"></textarea>
            </div>
            <div class="col-12 btnenvoyer">
                <button class="btn btn-primary" type="submit">ENVOYER</button>
            </div>
        </div>
    </div>
</div>



