
#middle
{
    margin-top: 15%;
}

.accueil
{
    color: crimson;
}
.nom
{
    text-align: center;
    font-size: 50px;
}

.gcpp
{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.texte
{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.btn
{
    
    background-color: cornflowerblue;
}

.create
{
    font-size: 25px;
}

.connect
{
    font-size: 20px;
}

.email
{
    font-size: 15px;
}

.right
{
    padding: 50px;
    background-color: white;
}

#telNo
{
    width: 100%;
    padding: 6px 12px;
}

#bday
{
    width: 100%;
    padding: 6px 12px;
}

.btncreer
{
    text-align: right;
}

.btnenvoyer
{
    text-align: right;
}