{% extends "base.twig" %}
{% block head %}
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/style.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

{% include "include/navbar.twig" %}

<div class="container">
    <div class="row">
    <p>Nos Services</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
            <h1>Crèche collective</h1>
            <p>Pour les enfants de 10 semaines à 3 ans.
            Une équipe de professionnels favorise l'éveil et l'épanouissement de vos enfants, dans un cadre sécurisant et adapté à leurs besoins.</p>
            </div>

            <div class="col-md-6 col-sm-12">
            <h1>Periscolaire et péricrèche</h1>
            <p>Prestations régulières pour des sorties d'écoles et/ou  de crèches sur un ou plusieurs jours par semaine. Idéales pour une organisation stable tout au long de l'année scolaire. Lieu d'accueil offrant des activités, pour enfants et adolescents.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
            <h1>Garde partagée</h1>
            <p>Avec la garde partagée vous réduisez vos frais de garde à domicile en faisant garder vos enfants avec ceux d'une autre famille.</p>
            </div>

            <div class="col-md-6 col-sm-12">
            <h1>Les assistants maternels agréés indépendants</h1>
            <p>L’assistant maternel agréé indépendant est un professionnel de la Petite Enfance, qui accueille à son domicile, un ou plusieurs enfants qui lui sont confiés par les parents.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
            <h1>Service de garde à domicile</h1>
            <p>Pour que votre enfant reste dans son environnement de vie habituel, vous pouvez opter pour le service de garde à domicile. Votre enfant est donc pris en charge par un(e) intervenant(e) qualifié(e) et expérimenté(e).</p>
            </div>

            <div class="col-md-6 col-sm-12">
            <h1>Baby-sitting</h1>
            <p>Pour les enfants de plus de 3 ans, et idéales pour quelques heures par jour ou les gardes de dernières minutes les baby-sitters prennent soins de vos enfants jusqu'à votre retour à la maison.
            Avant de lancer une prestation pour la garde d’enfants à domicile, vous rencontrez l’intervenant que nous avons sélectionné pour vous. Ce sera toujours la famille qui validera ou non l'intervenant.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
        <a class="btn btn-primary" href="#" role="button">Rendez-vous en Ligne</a>
        </div>
        <div class="col-4">
        <a class="btn btn-primary" href="#" role="button">Démarches en Ligne</a>
        </div>
        <div class="col-4">
        <a class="btn btn-primary" href="#" role="button">Nous Contacter</a>
        </div>
    </div>
</div>


<div class="col-12 d-flex justify-content-center">
    <a href="#">Demandez votre devis ></a>
</div>  





<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <h1>Choisir FriendSheep c'est choisir..</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-12">
            <p>La sécurité</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <p>La clarté</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <p>L'accompagnement</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <p>Du personel qualifié</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <p>Des enfants heureux</p>
        </div>
    </div>
   

    <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary" href="#" role="button">Je souhaite ètre informé</a>
    </div>

    <div class="col-12 d-flex justify-content-center">
    <a href="#">Voir les aides financières ></a>
    </div>  
</div>



<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <h1>Rejoignez notre équipe</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <p>Vous avez un bon contact avec les enfants ? Vous êtes dynamiques, sérieux et fiable ?</p>
        <p>Rejoignez l'équipe FriendSheep.</p>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary" href="#" role="button">Devenir un Sheeper</a>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <p>Vous êtes un(e) professionnel ? Vous voulez rejoindre le cercle FriendSheep afin d'être référé sur le site ?</p>
        <p>Contactez-nous !</p>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary" href="#" role="button">Rejoindre FriendSheep</a>
    </div>
</div>

{% include "include/formcontact.twig" %}

{% endblock %}